/*  
font-family: 'Anton', sans-serif;
font-family: 'Gorditas', cursive;
font-family: 'Lobster', cursive;
font-family: 'Potta One', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Yusei Magic', sans-serif;

font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Boogaloo', cursive;
font-family: 'Caveat', cursive;
font-family: 'Coda Caption', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Righteous', cursive;
font-family: 'Staatliches', cursive;

font-family: 'Arvo', serif;
 */
.header-link{
    text-align: center;
    text-decoration:none;
    color:#fff;
    font-weight:600;
    padding:5px;
    border-radius:3px;
    /* background-color:cornsilk; */
    margin-top:8px;
    transition:0.5s;
}
.header-link:hover{
    color:rgb(116, 116, 116);
    text-decoration:none;
}
/* .page-title-container{
    min-height: 5vh;
} */
.header{
    min-height:10vh;
    /* background-color:rgb(209, 99, 136); */
    background-color: rgb(20, 20, 20);
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:30px 30px;
}
/* .combined{
    position:absolute;
} */
#req-form{
    margin-top:50px;
}
@media only screen and (min-width:1200px){
    .header{
        flex-direction:row;
        justify-content:space-around;
    }
    .header-link{
        margin-top:0px;
    }
    #req-form{
        margin-top:100px;
    }
}
.page-section{
    min-height: 90vh;
}
.footer{
    background-color: rgb(27, 26, 26);
    min-height: 10vh;
    padding-top:28px;
}
#req{
    background-color:rgb(255, 232, 232);
}
#tracker{
    background-color:rgb(185, 253, 255);
    background-color: rgb(212, 255, 147);
}
#req-submit-btn{
    padding:10px;
    border-radius:4px;
    border:1px solid rgb(0,148,136);
    background-color:rgb(0, 148, 136);
}
.fas{
    font-size: 16px;
    color:rgb(255, 255, 255);
}
#req-form input{
    font-size:16px;
    padding:8px;
    border:1px solid rgb(255, 255, 255);
    border-radius:5px;
}
#req-form select{
    font-size:16px;
    padding:8px;
    border:1px solid rgb(255, 255, 255);
    border-radius: 5px;
}
@media only screen and (min-width:800px){
    #req-form input{
        font-size:15px;
        padding:7px;
    }
    #req-form select{
        font-size:15px;
        padding:7px;
    }
    #req-submit-btn{
        padding:3px;
    }
    .fas{
        font-size: 15px;
    }
}
@media only screen and (min-width:1200px){
    #req-form input{
        font-size:20px;
        padding:10px;
    }
    #req-form select{
        font-size:20px;
        padding:10px;
    }
    #req-submit-btn{
        padding:10px;
        border-radius:4px;
    }
    .fas{
        font-size: 20px;
    }
}
.page-title{
    text-align:center;
    font-family: 'Alfa Slab One', cursive;
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Righteous', cursive; */
    color:rgb(29, 28, 28);
    font-size:27px;
}
.page-title-container{
    padding:15px;
}
.sub-h{
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Gorditas', cursive;
    /* font-family: 'Potta One', cursive; */
    /* font-family: 'Arvo', serif; */
    text-align: center;
}
.sub-h-container{
    padding-top:40px;
}
.form-row-container{
    background-color: #fff;
    display: inline-block;
}
.response-text{
    font-size:25px;
    margin-top:35px;
    color:rgb(124, 124, 124);
    font-family: 'Arvo', serif;
    font-weight: bold;
    text-align: center;
}
#response2{
    color:rgb(95, 95, 95);
}

#tracker-form{
    margin-top:30px;
}
.form-div{
    margin-top:40px;
}
/* #tracker-form .fas{
    color:rgb(86, 86, 86);
} */
.footer-text{
    text-align:center;
    color:#fff;
}
@media only screen and (min-width:1200px){
    .response-text{
        font-size:35px;
        margin-top:60px;
    }
    #tracker-form{
        margin-top:80px;
    }
}
