((define "app"))
<!DOCTYPE html>
<html>
    <head>
        <title>((.Title))</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Gorditas&family=Lobster&family=Potta+One&family=Roboto+Slab:wght@700&family=Yusei+Magic&family=Alfa+Slab+One&family=Bebas+Neue&family=Boogaloo&family=Caveat:wght@700&family=Coda+Caption:wght@800&family=Fjalla+One&family=Pacifico&family=Permanent+Marker&family=Righteous&family=Staatliches&family=Arvo:wght@700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <div class="page">
            <div class="combined-header">
                <div class="page-title-container">
                    <h2 class="page-title">Protein Calculator for Building Muscle</h2>
                </div>
                <div class="header">
                    <div class="nav-container text-center">
                        <a class="header-link" href="#req">Protein Requirements Calculator</a>
                    </div>
                    <div class="nav-container text-center">
                        <a class="header-link" href="#tracker">Protein Tracker</a>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div id="req" class="container-fluid page-section">
                    <div class="sub-h-container">
                        <h4 class="sub-h">Daily Protein Requirements Calculator</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <form id="req-form">
                                <div class="form-row-container">
                                    <select id="unit">
                                        <option value="lbs">Pounds</option>
                                        <option value="kg">Kilograms</option>
                                    </select>
                                    <input id="weight" type="number" placeholder="Enter your weight here" step="0.01" min="1" required>
                                    <button id="req-submit-btn" class="submit-btn"><i class="fas fa-calculator"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <p id="response1" class="response-text">
                                Enter your weight to see your daily protein requirements.
                            </p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div id="tracker" class="container-fluid page-section">
                    <div class="sub-h-container">
                        <h4 class="sub-h">Protein Tracker</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <form id="tracker-form">
                                    <div class="form-group">
                                        <select id="food-items" class="form-control form-control-lg"></select>
                                    </div>
                                    <div class="form-group">
                                        <input id="quantity" name="quantity" type="number" class="form-control form-control-lg" placeholder="Enter the amount of servings consumed" min="1" required/>
                                    </div>
                                    <div class="form-group text-center">
                                        <button id="tracker-submit-btn" class="btn btn-dark btn-lg btn-block">Add <i class="fas fa-plus"></i></button>
                                    </div>
                            </form>
                        </div>
                        <div class="col-md-4 text-center">
                            <p id="response2" class="response-text">
                            </p>
                            <button id="reset-btn" class="btn btn-light btn-lg">Reset</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
            <div class="container-fluid footer">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <p class="footer-text">Bodybuilding-calc &copy; 2021</p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/script.js"></script>
</html>
((end))